.comparison-error {
  border: solid 2px #f00;
  color: #8c2e0b;
  background-color: #fef5f1;
}

.node-comparison-form .field-name-field-image-references {
  max-height: 350px;
  overflow: auto;
  float: left;
  margin-bottom: 25px;
}

.node-comparison-form .field-name-field-image-references .form-type-checkbox,
.node-type-comparison .field-name-field-image-references .form-type-checkbox {
  float: left;
  margin-right: 25px;
}

.node-comparison-form .field-name-field-image-references .form-type-radio {
  float: left;
  margin-right: 25px;
}

.node-comparison-form .field-type-taxonomy-term-reference,
.node-type-comparison .field-type-taxonomy-term-reference {
  clear: both;
}
